@import url("https://unpkg.com/leaflet/dist/leaflet.css");

@import "tailwindcss";
/* Leaflet CSS */


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.BoxColors {
  background-color: #af2a2f;
  transition: all;
}

.BoxColors:hover {
  background-color: #af2a2ee1;
}

.BoxColors:active {
  scale: 0.97;
}
.BrandTextColor {
  color: #af2a2f;
}

button {
  cursor: pointer;
}
